# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Kechko Java EE\demo1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
